.THIS .slds-button_icon-bare {
    display: none;
}

.THIS .container {
    height: calc(100vh - 125px);
    overflow: hidden;
    overflow-y: auto;
}

.THIS .scroller-size {
    height: 100%;
}
.THIS .comment-box-size textarea {
    height:200px;
}