input[type=text], select, textarea {
	position: relative;
	display:inline-block;
	font-size: inherit;
	padding: 4px 4px;
	line-height: 1em;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline: none;
}        
input[type=button] {
	display:inline-block;
	font-size: inherit;
	padding: 4px 4px;
	line-height: 1em;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;        
}
input[type=checkbox]{
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;        
    cursor:pointer;      
}

.input-numeric {
    width: 60px;
    text-align: right;
}

.input-code-1x {
    width: 75px
}

.input-code-2x {
    width: 125px
}

.input-description {
    width: 200px;
    min-height: 20px;
}

.output-code-1x {
    width: 75px;
}

.output-code-2x {
    width: 125px;
}

.output-numeric {
    float: right;
    margin-right: 10px;
}