.THIS .boxed-error-message {
    display: block;
    position: sticky;
    background-color: lightgoldenrodyellow;
    color: darkred;
    border: 1px solid darkred;
    border-radius:3px;
    padding: 2px;
    width: 100%;
}