.THIS .help-text > div.slds-form-element__icon {
    padding-top: 0px !important;
}

.THIS .label-hidden > label {
    display: none;
}

.THIS .boxed-error-message {
    display: block;
    position: absolute;
    background-color: lightgoldenrodyellow;
    color: darkred;
    border: 1px solid darkred;
    border-radius:3px;
    padding: 2px;
}