.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .label-hidden > label {
    display: none;
}
.THIS .container {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: 0px;
}
.THIS .scroller-size {
    height: 100vh;
}